* {
    margin: 0;
    padding: 0;
}

body{
	font-family: SourceSansProLight, Verdana, Arial, sans-serif;
	font-size: 14px;
}

header h1, nav, nav li{
    display: inline-block;
}

header {
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    z-index: 100;
    border-bottom: 0px solid #000;
}

h1 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1em;
    position: absolute;
    top: 5px;
}

nav {
    position: absolute;
    top: 32%;
    left: 75%;
}

nav li a {
    color: white;
    text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	margin-right: 12px;
	padding: 5px;
}

nav li a:hover{
	background-color: yellow;
    color: #000;
	border-radius: 3px;
}

section{
	width: auto;
	margin: auto;
    padding: 3rem;
}

#landing {
    background-color: azure;
    padding-top: 65px;
}

article{
	width: 250px;
	margin-right: 40px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 10px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
	*display:inline;
    zoom:1;
}

article p{
	margin-bottom: 7px;
    margin-top: 5px;
}

img {
    border: none;
    border-radius: 10px;
}

.readmore{
	background-color: yellow;
	padding: 5px 10px;
	color: black;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
    border: 1px solid black;
}

.readmore:hover{
	background-color: black;
    color: white;
}

.old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie #adbanner a, .old_ie article, .old_ie .readmore, .old_ie #sponsors a {
    display: inline;
    zoom: 1;
}

#footer {
    padding-top: 1cm;
    text-align: center;
}
 #footer ul li {
    display: inline;
    padding: 1cm;
}